<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.hipart_android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:name=".network.ApplicationController"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/HiPAT"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            android:largeHeap="true">
        <activity android:name=".ui.main.MainActivity">

        </activity>
        <activity android:name=".ui.search.SearchActivity"
                  android:windowSoftInputMode="adjustResize|stateVisible">

        </activity>
        <activity android:name=".ui.notification.NotificationActivity">

        </activity>
        <activity android:name=".ui.hipart.HipartDetailActivity">

        </activity>
        <activity android:name=".ui.login.LoginActivity"
                  android:windowSoftInputMode="adjustResize|stateVisible">

        </activity>
        <activity android:name=".ui.signup.SignupActivity"
                  android:windowSoftInputMode="adjustResize|stateVisible">

        </activity>
        <activity android:name=".ui.hipart_filter.HipatFilterActivity">

        </activity>
        <activity android:name=".ui.modifyportfolio.ModifyPortFolioActivity">

        </activity>
        <activity android:name=".ui.mypick.MyPickActivity">

        </activity>
        <activity android:name=".ui.signup.SignupPartActivity">

        </activity>
        <activity android:name=".ui.modifyprofile.ModifyActivity">

        </activity>
        <activity android:name=".ui.portfolio.TpatUploadActivity">

        </activity>
        <activity android:name=".ui.portfolio.NotTpatUploadActivity">

        </activity>
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.ad_add.AddAdCheckActivity">
        </activity>

        <activity android:name=".ui.ad_add.AddAdActivity">

        </activity>


    </application>

</manifest>